{% extends 'management/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-10">
                    <h1 class="text-center">RSS Feeds</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Url</th>
                                <th>Is Active</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for object in feeds %}
                            <tr>
                                <td>{{ object.pk }}</td>
                                <td>{{ object.url }}</td>
                                <td>{{ object.is_active }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                    <a href="{% url 'management:feed_load' %}" class="btn-primary btn">Import feeds</a>
                </div>
            </div>
            {% if is_paginated %}
            <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}">Previous | </a>
                        {% endif %}

                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">| Next</a>
                        {% endif %}
                    </span>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
