{% extends 'management/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="text-center">Load a RSS feed file</h1>
            <br/>

            <div class="col-md-6 col-md-offset-3">
                <form method="POST" class="form-horizontal" role="form"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            {{ form.file }}
                        </div>
                    </div>
                    <div class="col-sm-9 {% if form.errors %}has-error{% endif %}">
                        {% if form.errors %}
                            <label class="control-label" for="{{ form.auto_id }}">
                                {{ form.errors|striptags }}
                            </label>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-md-6">
                            <button type="submit" class="btn btn-primary btn-block"
                                    id="load-feed-btn">Load
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {

        });
    </script>
{% endblock %}