{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <script src="{% static 'management/js/jquery-1.11.0.min.js' %}"></script>
        <script src="{% static 'management/js/jquery.dajax.core.js' %}"></script>
        <script src="{% static 'management/js/spin.js' %}"></script>
        <script src="{% static 'management/js/custom.js' %}"></script>
        <script src="{% static 'management/bootstrap/3.1.1/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'management/bootstrap/bootbox/bootbox.min.js' %}"></script>
        <script src="{% static 'management/js/jquery.ba-serializeobject.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'management/bootstrap/3.1.1/css/bootstrap-theme.min.css' %}" />
        <link rel="stylesheet" href="{% static 'management/bootstrap/3.1.1/css/bootstrap.min.css' %}" />
        <title></title>
    </head>
    <body>
        <header id="top" class="navbar navbar-fixed-top navbar-inverse" role="banner">
             <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-target=".bs-navbar-collapse" data-toggle="collapse" type="button"></button>
                    <a href="{% url 'management:home' %}" class="navbar-brand">RSS Crawler</a>
                </div>
                <nav class="collapse navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{% url 'management:feed_list' is_active=True %}">Feeds</a>
                        </li>
                        <li>
                            <a href="{% url 'management:channel_list' %}">Channels</a>
                        </li>
                    </ul>
                 </nav>

             </div>
        </header>
        <br />
        <br />
        <br />
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        {% block scripts %}{% endblock %}
    </body>
</html>